1. Desarrolle un programa que pida la anchura y altura de un rectángulo y lo dibuje con caracteres producto (*)

In [ ]:
ancho = int(input("Introduzca el ancho del rectangulo: "))
alto = int(input("Introduzca el alto del rectangulo: "))

for i in range(alto): 
    print(ancho*"*")

Introduzca el ancho del rectangulo: 5
Introduzca el alto del rectangulo: 6
*****
*****
*****
*****
*****
*****

2. Escriba un programa que pida dos años y escriba cuántos años bisiestos hay entre esas dos fechas (incluidos los dos años):

In [ ]:
year1 = int(input("Introduzca el primer año: "))
year2 = int(input("Introduzca el segundo año: "))
count = 0

for year in range(year1, (year2+1), 1):
    if (year % 4 == 0 and year % 100 != 0) or (year % 4 == 0 and year % 100 == 0 and year % 400 == 0):
        count += 1

print(f"Entre {year1} y {year2} hay {count} años bisiestos")

Introduzca el primer año: 1900
Introduzca el segundo año: 2000
Entre 1900 y 2000 hay 25 años bisiestos

3. Escriba una función que muestre por pantalla el resultado de multiplicar un número por 10

In [ ]:
def multiplicar_10(numero):
    mult_10 = numero*10
    return mult_10

In [ ]:
multiplicar_10(56)

560

4. Escriba función que devuelva si el número es par(true) o impar(false).

In [ ]:
def paridad(numero):
    if numero % 2 == 0:
        return True
    else:
        return False

In [ ]:
paridad(464651)

False

5. Escribir una función sum() y una función multip() que sumen y multipliquen respectivamente todos los números de una lista. Por ejemplo: sum([1,2,3,4]) debería devolver 10 y multip([1,2,3,4]) debería devolver 24.

In [ ]:
from functools import reduce

nums = [1,2,3,4,5,6]

In [ ]:
def sum(numeros):
    return reduce(lambda x, y: x+y, numeros)

In [ ]:
def multip(numeros):
    return reduce(lambda x, y: x*y, numeros)

In [ ]:
sum(nums)

21

In [ ]:
multip(nums)

720

6. Escribir un pequeño programa donde:

    ● Se ingresa el año en curso.
    
    ● Se ingresa el nombre y el año de nacimiento de tres personas.
    
    ● Se calcula cuántos años cumplirán durante el año en curso.
    
    ● Se imprime en pantalla.

In [ ]:
actual_year = int(input("Introduzca el año actual: "))
dicc = {}

for i in range(3):
    name = input(f"Introduzca el nombre de la persona {i+1}: ")
    year = int(input("Introduzca su año de nacimiento: "))
    dicc[name] = year

for key, value in dicc.items():
    print(f"Durante el año en curso {key} cumplirá {actual_year-value} años")

Introduzca el año actual: 2023
Introduzca el nombre de la persona 1: Yailenis
Introduzca su año de nacimiento: 1988
Introduzca el nombre de la persona 2: Daniel
Introduzca su año de nacimiento: 1991
Introduzca el nombre de la persona 3: Isabela
Introduzca su año de nacimiento: 2018
Durante el año en curso Yailenis cumplirá 35 años
Durante el año en curso Daniel cumplirá 32 años
Durante el año en curso Isabela cumplirá 5 años

7. Crear una función que tome una lista de dígitos y devuelva al número al que corresponden. Por ejemplo [1,2,3] corresponde a el número ciento veintitrés (123). Utilizar la función reduce.

In [4]:
from functools import reduce

nums = [1,2,3,4,5,6,7]

print(reduce(lambda x, y: int(str(x) + str(y)), nums))

1234567